.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table {
    position: relative;
    width: 1200px;
    height: 600px;
    background-color: #000;
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
  }

  .raquette {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: aquamarine;
  }

  .raquette {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: aquamarine;
  }
  
  .mur {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: gray;
  }