$primary-color: #0d6efd;
// $background-color-nav: #7095b8;

// _variables.scss
$light-background: #fff;
$light-text: #000;

$dark-background: #333;
$dark-text: #fff;



// _main-pages.scss
// $color-background-body: #f9f9f900;
// $text-color: #ffffff;
// $color-text-body: black;
// $secondary-color: #7095b8;